@mixin transform-style($style) {
  -webkit-transform-style: $style;
  -moz-transform-style: $style;
  transform-style: $style;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin perspective($p) {
  perspective: $p;
  -webkit-perspective: $p;
  -moz-perspective: $p;
}
@mixin perspective-origin($p) {
  perspective-origin: $p;
  -webkit-perspective-origin: $p;
  -moz-perspective-origin: $p;
}

@mixin backface-visibility($visibility) {
 backface-visibility: $visibility;
 -webkit-backface-visibility: $visibility;
 -moz-backface-visibility: $visibility;
}

@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include box-sizing(border-box);
  border: $border;
}

@mixin reset-shadow-box() {
  @include shadow-box(0px, 0px, 0px);
}
