$turquoise: #1abc9c;
$emerald: #2ecc71;
$peter-river: #3498db;
$amethyst: #9b59b6;
$wet-asphalt: #34495e;
$green-sea:#16a085;
$nephritis: #27ae60;
$belize-hole: #2980b9;
$wisteria: #8e44ad;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranite: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;

@mixin theme($bg, $text:"white", $links:"inherit") {
  background-color: $bg;
  color: unquote($text);
  a, a:hover, a:visited, a i.fa { color: unquote($links); }
}

.turquoise{ @include theme($turquoise); }
.emerald { @include theme($emerald); }
.peter-river { @include theme($peter-river, white, pink); }
.amethyst { @include theme($amethyst, white, $orange); }
.wet-asphalt { @include theme($wet-asphalt, white, $peter-river); }
.green-sea { @include theme($green-sea); }
.nephritis { @include theme($nephritis, white, $orange); }
.belize-hole { @include theme($belize-hole); }
.wisteria { @include theme($wisteria, white, $orange); }
.midnight-blue { @include theme($midnight-blue, white, $orange); }
.sunflower { @include theme($sunflower); }
.carrot { @include theme($carrot); }
.alizarin { @include theme($alizarin, white, $silver); }
.clouds {  @include theme($clouds, black); }
.concrete { @include theme($concrete); }
.orange { @include theme($orange); }
.pumpkin { @include theme($pumpkin, white, $silver); }
.pomegranite { @include theme($pomegranite, white, $silver); }
.silver { @include theme($silver);  }
.asbestos { @include theme($asbestos); }
