<html>
  <head>
    <meta http-equiv=refresh content="0; url=<%= page.url %>" />
    <meta name="robots" content="noindex,follow" />
    <meta http-equiv="cache-control" content="no-cache" />
  </head>
  <body>
    Redirecting you to <a href="<%= page.url %>"><%= page.title %></a>
  </body>
</html>
